<h1>Listing users</h1>

<div class="row-fluid"><div class="span2 offset2"><%= link_to 'New User', new_user_path, class: "btn btn-primary" %></div></div>
<p></p>
<div class="row-fluid">
<div class="span8 offset2">
<table class="table table-bordered table-striped table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Job title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.job_title %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
</div>



