<h1> Products in the market </h2>

<div class="row-fluid"><div class="span2 offset2"><%= link_to 'New Product', new_product_path, class: "btn btn-primary" %></div></div>
<p></p>
<div class="row-fluid">
<div class="span8 offset2">
<table class="table table-bordered table-striped table-condensed">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Price</th>
      <th>Sold by</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td>$<%= product.price %></td>
	  <td><%= product.user.name if product.user.present? %></td>
    <td><%= link_to 'Show', product %></td>
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
</div>
</div>

  