<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<%= link_to 'Destroy', @product, class: "btn btn-danger" , :method => :delete, :data => { :confirm => 'Are you sure?' } %>