

<ul class="nav">
  <li class="dropdown">
    <a href="#"
          class="dropdown-toggle"
          data-toggle="dropdown">
          New
          <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to 'New User', new_user_path %></li>
      <li><%= link_to 'New Product', new_product_path %></li>
    </ul>
  </li>
</ul>