<footer class="footer">
  <small>
    <a href="http://schneems.com/">Rails Tutorial</a>
    by Richard Schneeman
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", 'https://twitter.com/DearDonald' %></li>
      <li><a href="https://github.com/ddmck">Customised by Donald McKendrick</a></li>
    </ul>
  </nav>
</footer>