<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= link_to "Schneems 5" , "http://schneems.com/post/27122707453/databases-rails-week-5-controllers", id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= render "layouts/dropdown" %></li>
          <li><%= link_to "Users", users_path %></li>
          <li><%= link_to "Products", products_path %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>